.navbar-white {
    background-color: #FFFFFF;
}
.navbar-btn {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar {
    margin-bottom: 0;
}
.navbar-btn {
    background-color: #00D7D2;
}
li img {
    width: 70%;
}
.navbar-bottom a {
    text-decoration: none;
    color: #031b4e;
}
.jumbotron {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    margin-bottom: 0;
}
.form {
    padding: 20px 20px;
    background-color: #FFFFFF;
}
.button {
    display: flex;
    justify-content: center;
}
.google {
    margin-right: 10px;
}
.cta {
    margin-top: 10px;
}
.jumbo-content {
    padding: 16px 16px;
}
.jumbo-content h1 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}
.jumbo-content p {
    color: #fff;
    font-size: 24px;
    opacity: .8;
}
.jumbotron .row {
    padding-left: 10px;
    padding-right: 10px;
}
.form p {
    color: black;
    font-size: 16px;
}
.btn-primary p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.btn-default.active {
    background-color: #f2f8ff;
}
.btn-default {
    display: inline;
}
.btn-default p {
    font-size: 16px;
    font-weight: 400;
}
.btn-block {
    background-color: #1633FF;
}
.col-xs-5 p {
    color: black;
    font-size: 14px;
}
.brand {
    background-color: #F3F5F9;
}
/* new section */
#trust {
    color: grey;
    text-transform: uppercase;
}
.padding-top {
    padding-top: 64px;
}
.padding-bottom {
    padding-bottom: 64px;
}
.anchor {
    font-size: 16px;
    color: #0069ff;
    text-decoration: none;
    cursor: pointer;
}
/* new section */
#deploy-and-scale {
 background-color: white;
}
.col-sm-offset-1 {
    margin-left: 0;
}
.medium {
    font-size: 20px;
}
.small {
    font-size: 18px;
}
.col-xs-12 h2 {
    font-weight: bold;
    font-size: 36px;
}
.process li {
    border-left: 2px solid grey;
    list-style: none;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 16px;
}
.process li:first-child {
    border-left: 2px solid blue;
}
.bold {
    font-weight: bold;
    font-size: 18px;
}
.grey {
    color: grey;
    font-size: 18px;
}
#designed-for-developers {
    background-color: #F3F5F9;
}
#built-for-business {
    background-color: white;
}
/* new section */
#departures {
    background-color: #031B4E;
}
#departures h2 {
    color: white;
    font-weight: 700;
    font-size: 40px;
}
#departures td {
    color: white;
}
#rockerbox {
    background-color: #F3F5F9;
}
.blockquote {
    background-color: white;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.blockquote-body {
    padding: 32px;
}
.blockquote-body img {
    max-width: 100%;
}
.quote {
    padding-top: 20px;
}
.section-title {
    padding-top: 20px;
    text-align: center;
}
#cta {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}
#cta .btn {
    background-color: white;
    color: blue;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 50px;
}
#cta h2 {
    margin-top: 50px;
    color: white;
    font-size: 36px;
    width: 700;
}
footer {
    padding-top: 30px;
    background-color: #000000;
}
footer ul {
    float: left;
}
footer li {
    font-size: 20px;
    padding-top: 10px;
    color: grey;
    list-style: none;
}
footer .col-lg-12 {
    margin-bottom: 30px;
}
.first-item {
    color: white;
    padding-bottom: 10px;
}
footer .navbar-nav {
    float: none;
    padding-bottom: 50px;
}
.navbar-right li {
    padding-right: 10px;
}
